

html,body{
    margin:0px;
    padding:0px;
    font-family: 'Merriweather Sans', sans-serif;
}
*{
    box-sizing:border-box;
}
header{
    color:lightgray;
    font-size:2.5rem;
    background:darkblue;
    /* border: 1px solid red; */
    text-align:center;
    padding-top: 3vh;
    padding-bottom:3vh;
}
/*Here starts the first form*/
#newsletter_heading_id{
    color:red;
    text-align:center;
}
#newsletter_heading_p{
    font-size:1.1rem;
    text-align:center;
}
#main-content-div{
    margin-bottom:30px;
    /* background-color:lightblue; */
}
#main-content-form{/*what i see is there a problem with the sizing of the main page and I cannot resize it*/
    margin-top:25px;
    /* height:450px; */
    /* background-color:aqua; */
}
fieldset{
    border:none;
    /*implementation/addition of a flexbox*/
    display:flex;
    flex-wrap:wrap;
    margin-bottom:25px;
    
}
/* fieldset > *{
    border:1px solid red;
} */

#second_field_set > *{
    width:100%;
}
#checkbox-list{ /*This refers to the checkbox display in the second fieldset*/
    display:flex;
    flex-wrap:wrap;
    
}
.checkbox-wrapper{
    display:flex;
    align-items:center;
    margin-right:100px;
}
.radio-display-wrapper{
    display:flex;
    align-items:center;
    margin-right:50px;
}
legend{
    font-size:1.8rem;
    padding:0px;
    /* margin-left:10px; */
}
#second_legend{
    padding-top:35px;
}
#main-content-form fieldset label {
    display: block; 
    margin-top:10px;
    margin-bottom:5px;
}
 #first_field_set input:not(#user-zip-code){
    width:100%;
}
input::placeholder{
    text-align:right;
}
textarea::placeholder{
    text-align:right;
}
#state_id{
    margin-top:20px;
}
#state-select-menu{
    display:block;
    width:100%;
}
/* option{
    color:#666;
} */
select:required:invalid{
    color:#666;
}
option[value=""][disabled]{
    display:none;
}
#zip_code_id{
    width:100%;
}
#user-zip-code{
    width:49%;
}
/* Here starts the second form */
/* #second-content-div{
    background-color:paleturquoise;
} */
#second-content-form{
    height:400px;
}
/* #second_field_set{
    margin-top:25px;
    background-color:greenyellow;
} */
ul{
    list-style-type: none;
    padding:0px;
}
textarea{
    width:100%;
}
#third-content-form{
    position: relative;
    height:5vh;
}
/* Here starts the third form */
/* button{ */
    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%; */
    /* -ms-transform: translate(-10%, -50%); */
    /* transform: translate(-50%, -50%); */
    /* transform: skew(30deg, 20deg); */
    /* background-color:lightblue; */
/* } */
footer p{
    text-align:center;
}

/*:focus for the text area and other input fields, and transition*/
input:focus, textarea:focus, select:focus, button:focus{
    background-color:lightyellow;
}    
input[type="text"]{
    transition-property: background ;
    transition-duration:1s;
    transition-delay:0s;
    transition-timing-function:ease-in-out;
}
input[type="text"]:focus{
    background-color:lightyellow;
}

/*Here I change the position of the button*/
/* #main-content-form{
    position:relative;
    border: 1px solid yellow;
} */
#submit-button{
    /* position:absolute;
    top:1100px;
    left:50%; */
    /* border: 3px solid red; */
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    font-size:1.3rem;
    background-color:springgreen;
}

/*FOOTER*/
footer{
    margin-top:50px;
}


@media screen and (min-width:768px){
    


    #main-content-div{
        padding-left:15%;
        padding-right:15%;
    }
    #submit-button{
        margin-left:15%;
        margin-right:15%;
        padding: 0%;
        width:calc(100% - 30%);

    }

    #first_field_set label{
        flex-basis:23%;
    }
    #first_field_set input:not(#user-zip-code){
        margin-top:5px;
        margin-bottom:5px;
        flex-basis:75%;
    }
    #state-select-menu{
        margin-top:5px;
        margin-bottom:5px; 
        flex-basis:75%;
    }
    #user-zip-code{
       
        margin-top:5px;
        margin-bottom:5px;
        flex-basis:25%;
    }


    .checkbox-wrapper{
        display:flex;
        align-items:center;
        margin-right:100px;
        /* border:1px solid red; */
        width:100%;
    }


    #user-zip-code{
        width:25%;
    }

}